*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


#i{
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#i span {
    flex-grow: 1;
}

#i img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-left {
    margin-right: auto;
}

.logo-right {
    margin-left: auto;
}

#n{
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
}

#n a{
    padding: 5px 10px;
    display: inline-block;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: lightgrey;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    
    #n {
        display: none;
    }
    
    /* Show menu when checkbox is checked */
    #menu-toggle:checked ~ #n {
        display: block;
    }
    
    #n a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    #i {
        font-size: 1.2em;
    }
    
    #i img {
        max-width: 35px;
    }
}

/* Make content responsive */
p {
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

div {
    padding: 20px;
}

@media (max-width: 768px) {
    p {
        padding: 10px;
        font-size: 0.9em;
    }
    
    div {
        padding: 10px;
        font-size: 0.9em;
    }
}