*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    flex-grow: 1;
    text-align: center;
}

.header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav{
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
}

nav a{
    padding: 5px 10px;
    text-decoration: none;
}

#menu{
    display: none;
}

.menu-btn{
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: lightgrey;
}

.menu-btn span{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}

p{
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
}

img{
    max-width: 100%;
    height: auto;
}

div{
    padding: 20px;
}

@media (max-width: 768px){
    .menu-btn{
        display: flex;
    }
    nav{
        display: none;
    }
    #menu:checked ~ nav{
        display: block;
    }
    nav a{
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .header{
        font-size: 1.2em;
    }
    .header img{
        width: 35px;
        height: 35px;
    }
    p, div{
        padding: 10px;
        font-size: 0.9em;
    }
}